body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to right, #000, #1a1a1a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 30px;
}

.form-box {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  text-align: center;
}

h1 {
  color: #2b0608;
  margin-bottom: 25px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field input {
  width: 100%;
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 5px;
  outline: none;
}

.input-field input:focus {
  border-color: #1e7ea8;
}

.btn-field {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

button {
  flex: 1;
  margin: 5px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background: #ee0606;
  color: #fff;
  transition: 0.3s;
}

button.disable {
  background: #555;
}

button:hover:not(.disable) {
  background: #910209;
}

.voltar {
  margin-top: 25px;
}

.voltar a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}
