body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #f5f5f5;
  color: #222;
}

header {
  background: #000;
  color: #fff;
  text-align: center;
}

.header-content {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h1 {
  font-size: 20px;
  color: #fff;
  letter-spacing: 2px;
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #e30613;
}

#carrinho-btn {
  background: #e30613;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.hero-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

main {
  padding: 40px 20px;
  text-align: center;
}

h2 {
  color: #d71421;
  margin-bottom: 25px;
}

.produtos-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.produto {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  width: 250px;
  padding: 15px;
  text-align: center;
  transition: 0.3s;
}

.produto:hover {
  transform: translateY(-10px);
}

.produto img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.produto h3 {
  margin: 10px 0;
}

.produto p {
  font-weight: bold;
  margin-bottom: 10px;
}

.comprar {
  background: #e30613;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.comprar:hover {
  background: #c50606;
}

#carrinho {
  position: fixed;
  top: 70px;
  right: 10px;
  background: rgb(255, 255, 255);
  border: 1px solid #000000;
  padding: 15px;
  width: 260px;
  display: none;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

#carrinho h2 {
  color: #e30613;
}

footer {
  text-align: center;
  padding: 30px;
  background: #000;
  color: white;
  margin-top: 40px;
}

.whatsapp-btn {
  display: inline-block;
  background: #25d366;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}
